#dom {
  position: absolute;
  box-sizing: border-box;
}

#dom input[type="button"] {
  font-size: 20px;
  margin: 5px;
}

#viewport {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
