#dom {
  position: absolute;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: solid thin black;
}

#viewport {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
