
#viewport {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#cplane-controls {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#cameras {
  position: absolute;
  box-sizing: border-box;
}

#cameras input[type="button"] {
  font-size: 20px;
  margin: 5px;
}

#values {
  position: absolute;
  top: 20px;
  right: 20px;
}

.coordinate td {
  display: inline-block;
  min-width: 20px;
}

.coordinate td.label {
  padding: 0 5px;
}
